{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem a eius inventore quis, iste ullam beatae nobis voluptas optio velit eum labore dolores et, quo pariatur ab voluptatibus tempore adipisci?
</body>
</html>